# /etc/systemd/system/cockroachdb.service
#   Stops/starts a cockroach node

[Unit]
Description=Manage a Cockroach cluster node
Requires=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
{% if cluster_mode|lower == 'insecure' %}
ExecStart={{install_location}}/cockroach start --http-port={{http_port}} --port={{cockroach_port}} --host={{ansible_hostname}} --store={{datastore}} --log-dir={{log_dir}} --insecure
ExecStop={{install_location}}/cockroach quit --host={{ansible_hostname}}
{% elif  cluster_mode|lower == 'secure' %}
ExecStart={{install_location}}/cockroach start --http-port={{http_port}} --port={{cockroach_port}} --host={{ansible_hostname}} --store={{datastore}} --log-dir={{log_dir}} --certs-dir={{certs_dir}}
ExecStop={{install_location}}/cockroach quit --host={{ansible_hostname}} --certs-dir={{certs_dir}}
{% endif %}
User={{ cockroach_user }}

[Install]
WantedBy=multi-user.target
