global
  maxconn 4096

defaults
    mode                tcp
    timeout connect     10s
    timeout client      1m
    timeout server      1m


listen adminui
    bind :8080
    mode tcp
    balance roundrobin
{% for host in groups['cockroach'] %}
    server {{ host }} {{ hostvars[host]['ansible_default_ipv4']['address'] }}:8080
{% endfor %}

listen psql
    bind :26257
    mode tcp
    balance roundrobin
{% for host in groups['cockroach'] %}
    server {{ host }} {{ hostvars[host]['ansible_default_ipv4']['address'] }}:26257
{% endfor %}
